.video {
    background-color: #000;
    height: 150px;
}

.btn {
    width: 80px;
    height: 80px;
    cursor: pointer;
    display:none
}

.btn > .fill {
    fill: #fff;
    opacity: 0.3;
}

.btn > .outline {
    stroke: #fff;
    stroke-width: 3;
    opacity: 1;
}

.btn > .triangle {
    fill: #fff;
}

.video:hover > .btn {
    -webkit-transform: scale(1.05);
    display:block;
}

.video:hover .fill {
    opacity: 0.4;
}

